a {
    color:black;
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a.active > div {
	background-color:rgba(51, 59, 77, 0.8) !important ;
	color:white;
}
a.active .MuiListItemIcon-root {
	color:white;
}